body {
    background-color: #555555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.common {
    background-color: #97daf7;
    border: 2px solid white;
    position: absolute;
}

.Header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}

.Leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
}

.Mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
}

.Rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;

}

.Footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
}